---
data: Big Lub
title: strengthening the Interstate Commerce Commission
candy: a variable from the page
---
<h1>{{data}}</h1>

<p>{{a}}</p>

yaml cat says: {{foo.0.cat}}
json cat says: {{json.cat}}

bees are {{bees}}