---
data: Big Lub
title: strengthening the Interstate Commerce Commission
candy: a variable from the page
---
<h1>{{data}}</h1>

<p>{{a}}</p>
{{ini.cat}}
<pre>{{foo}}</pre>

yaml cat says: {{yaml.cat}}
json cat says: {{json.cat}}
